body {
  font-family: 'Poppins', sans-serif;
}

.rbc-calendar {

  font-family: 'Poppins', sans-serif;

  .rbc-toolbar {

    .rbc-toolbar-label {

      font-size: 24px;
      line-height: 36px;
      font-weight: 600;
      color: #010101;

    }

  }

  .rbc-month-view {
    border: solid 1px #e6ecf3;
    border-radius: 8px;
  }

  .rbc-header {
    padding-top: 17px;
    padding-bottom: 17px;
    font-size: 16px;
    color: #010101;
    border-left: 0;
    font-weight: 400;
    border-bottom: 1px solid #e6ecf3;
  }

  .rbc-day-bg {

    & + .rbc-day-bg {
      border-left: 1px solid #e6ecf3;
    }

  }

  .rbc-month-row {

    & + .rbc-month-row {

      border-top: solid 1px #e6ecf3;

    }

  }

  .rbc-off-range-bg {
    background: #fff;
  }

  .rbc-button-link {
    color: #010101;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
  }

  .rbc-off-range {
    .rbc-button-link {
      color: #bec6cd;
    }
  }

  .rbc-btn-group {
    border-radius: 58px;
    background: #eff8f8;
    font-size: 16px;
    width: 189px;
    height: 48px;

    button {

      border-radius: 50px;
      border-color: transparent;
      width: 95px;
      height: 36px;
      margin-top: 6px;
      border-top-right-radius: 50px;
      border-bottom-right-radius: 50px;
      
      &:first-child {
        margin-left: 8px;
      }

      &.rbc-active {
        background: #ffff;
        box-shadow: 0px 0px 8px rgba(0,0,0,0.08);
        
      }
    }
  }

}

.btn {

  font-size: 18px;
  line-height: 27px;
  border-radius: 30px;
  height: 48px;
  width: 226px;

  &-primary {    
    background: #189c9b;
    border-radius: 30px;
    border: solid 1px #189c9b;
    

    &:not(:disabled):not(.disabled):active,
    &:active,
    &:hover {
      background: #189c9b;
      border: solid 1px #189c9b;
    }

    &:focus {
      background: #189c9b;
      border: solid 1px #189c9b;
      box-shadow: 0 0 0 0.2rem rgb(24 156 165 / 50%);
    }
  }

  &.close {
    background: #fff;
    height: 48px;
    width: 48px;
    float: none;
    opacity: 1;
  }
}

.modal-dialog {
  
  .modal-content {
    border-radius: 32px;
    overflow: hidden;

    .modal-body {
      padding: 0;
      font-size: 16px;

      & > .row {

        & > .col-md-6 {

          padding: 60px;

          & + .col-md-6 {
            background: #eff8f8;
            border-radius: 32px;
          }
        } 
      }

      h2 {
        margin-bottom: 48px;  
        font-size: 32px;
        line-height: 1.5;
      }

      h4 {
        font-size: 20px;
        line-height: 1.5;
        margin-bottom: 32px;
      }

      label {
        font-size: 14px;
        line-height: 1.4;
        color: #7d8a96;
        font-weight: 300;
        letter-spacing: 1;
        margin-bottom: 6px;
      }

      .info {
        color: #1b9c9b;   
        font-size: 16px;     
        padding-left: 30px;        
        background:url('/images/Rectangle.svg') no-repeat 0;
        background-size: 26px 26px;
      }

      .form-control {
        font-size: 16px;
        padding: 14px 18px;
        height: auto;
        border-radius: 8px;
        border: solid 1px #d2d5dd;
      }

      .table {
        td {
          border-top: 1px solid transparent;
        }
      }

      .payment-details {

        margin-bottom: 30px;
        
        .form-control {
          border: solid 1px #fff;
        }
      }

      .vat {
        color: #7d8a96;
      }

      .hours {
        color: #1b9c9b;
      }
    }
  }
}
